@media (max-width: 576px) {
  .cabecalho {
    flex-direction: column;
    margin-top: 2rem;
  }

  .linha-destaque {
    display: none;
  }

  .texto-cabecalho h1 {
    border-bottom: 3px solid #ffff;
  }

  .secao-agendamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    margin-top: 20rem;
  }

  .secao-formulario {
    border: 4rem solid #3a7ca5;

    margin-bottom: 50px;
  }

  .texto-cabecalho img {
    display: none;
  }

  .texto-cabecalho {
    justify-content: center;
    text-align: center;
  }

  .cabecalho-calendario {
    text-align: center;
  }
}
