@media (max-width: 769px) {
  body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .div_esquerda {
    width: 100vw;
    height: 50vh;
  }

  .div_direita {
    width: 100vw;
  }

  .imagem-doutores {
    width: 80%;
  }
}
