body {
  background-color: #2f6690;
  margin: 0 auto;
  display: flex;
}

.div_esquerda {
  width: 50vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div_direita {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.imagem-doutores {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
}

.div_login {
  background-color: #3a7ca5;
  width: 600px;
  height: 650px;
  border-radius: 20px;
  margin: 50px;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 168px;
  height: 168px;
  border: 3px solid #509be2;
  background-color: aliceblue;
  border-radius: 50%;
  top: -50px;
  transform: translateY(-50%);
  margin: 25px;
}

.div_titulo h1 {
  transform: translateY(-100%);
  text-align: center;
  font-size: 45px;
  color: #fff;
}

.login {
  margin-left: 30px;
  margin-right: 30px;
}

.dados {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input i {
  color: #2f6690;
}

.input input {
  width: 100%;
  background-color: white;
  border: none;
  color: black;
  font-size: 12pt;
  margin-left: 10px;
}

.input label {
  font-family: "Inter";
  color: white;
  margin-left: 5px;
  font-size: 20px;
}

.input-container {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 50px;
  width: 400px;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 16px;
}

input:focus {
  outline: none;
  border: none;
}

input:focus-visible {
  outline: none;
}

input::placeholder {
  color: #2f6690;
  font-family: "Inter";
  font-size: 12pt;
}

.lembrar-recuperar-senha {
  display: flex;
  gap: 140px;
  font-size: 12px;
  /* margin-top: 15px; */
}

.lembrar-recuperar-senha li {
  display: flex;
  align-items: center;
  gap: 2px;
}

.lembrar-recuperar-senha a {
  color: aliceblue;
}

.lembrar-recuperar-senha input[type="checkbox"] {
  accent-color: #2f6690;
}

.botao-login-cadastro {
  margin-top: 3rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.botao {
  width: 210px;
  height: 62px;
  font-size: 32px;
  font-weight: bold;
  background-color: #2f6690;
  color: aliceblue;
  border: 0;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.botao:hover {
  background-color: white;
}

.cadastro {
  color: #fff;
}

.cadastro a {
  color: #fff;
}

.cadastro a:hover {
  color: purple;
}

span {
  font-size: 16px;
  color: #fff;
}

#icones {
  font-size: 20px;
}

.acessibilidade {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
