@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
}

.calendario {
    width: 380px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.mesAno {
    text-align: center;
    font-weight: 600;
}

.header button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.dias {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.dia {
    text-align: center;
    padding: 5px;
    color: #999fa6;
    font-weight: 500;
}

.datas {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.data {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: auto;
    cursor: pointer;
    font-weight: 600;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: 0.2s;
}

.data:hover,
.data:active {
    color: white;
    background-color: blue;
}

.data.inativa {
    color: #d2d2d2;
}

.data.inativa:hover {
    color: #fff;
}

/* Esta classe será usada para marcar o dia clicado */
.data.selecionado {
    background-color: darkblue;
    color: white;
}
